@model IEnumerable<SEPPokemon.Models.Pokemon>

@{ 
    Pokemon prev = null;
    Pokemon next = null;
    Pokemon curr = null;
    if (Model.Count() == 3)
    {
        prev = Model.ElementAt(0);
        next = Model.ElementAt(2);
        curr = Model.ElementAt(1);
    } else
    {
        if(Model.First().PokemonId == (int)ViewData["id"])
        {
            curr = Model.First();
            next = Model.Last();
        } else
        {
            prev = Model.First();
            curr = Model.Last();
        }

    }
}

<html class="bg-other" lang="en">
<head>
 
    <title>Pokemon|Pokedex</title>
</head>
<body>
    @*Nav comes from _layout.cshtml*@
    @*<section class="navigation">
        <ul class="nav">
            <li class="navItem" id="logo">
                <a href="~/Pokedex">
                    <img src="~/img/pokemon-logo.png" alt="logo">
                </a>
            </li>
            <li class="navItem"><a href="~/Pokedex">Home</a></li>
            <li class="navItem"><a href="~/Pokedex/Pokedex">Pokedex</a></li>
            <li class="icon">
                <a href="javascript:void(0);" style="font-size:40px;" onclick="myFunction()">☰</a>
            </li>
        </ul>
    </section>*@

        <section class="info-main">
        <div class="content">
            <div class="current-pokemon">
                @if (prev != null)
                {
                    <a asp-action="info" asp-route-id="@prev.PokemonId">
                        <div id="poke1">
                            <div class="content">
                                <img src="@Html.DisplayFor(item => prev.Image)">
                                <p>@Html.DisplayFor(item => prev.PokemonId)</p>
                            </div>
                        </div>
                    </a>
                }
                @if (next != null)
                {
                    <a asp-action="info" asp-route-id="@next.PokemonId">
                        <div id="poke2">
                            <div class="content">
                                <img src="@Html.DisplayFor(item => next.Image)">
                                <p>@Html.DisplayFor(item => next.PokemonId)</p>
                            </div>
                        </div>
                    </a>
                }
                <h1>@Html.DisplayFor(item => curr.Name)</h1>
                <p>@Html.DisplayFor(item => curr.PokemonId)</p>
                <img src="@Html.DisplayFor(item => curr.Image)">

</div>

        </div>
    </section>


    <section class="info-middle">
        <div class="Description">
            <h2>Description</h2>
            <p>
                @Html.DisplayFor(item => curr.Description)
            </p>
        </div>
        <div class="type">
            <h2>Type</h2>
            <p class="c@(Html.DisplayFor(item => curr.Type1))">@Html.DisplayFor(item => curr.Type1)</p>
            @if (curr.Type2 != "Null")
            {
            <p class="c@(Html.DisplayFor(item => curr.Type2))">@Html.DisplayFor(item => curr.Type2)</p>
            }
        </div>
        <div class="poke-info-1">
            <div class="height">
                <h2>Height</h2>
                <p>@Html.DisplayFor(item => curr.Height)</p>
            </div>
            <div class="weight">
                <h2>Weight</h2>
                <p>@Html.DisplayFor(item => curr.Weight)</p>
            </div>
        </div>
        <div class="poke-info-2">
            <div class="abilities">
                <h2>Abilities</h2>
                <p>@Html.DisplayFor(item => curr.AbilityOne) / @Html.DisplayFor(item => curr.AbilityTwo) (@Html.DisplayFor(item => curr.AbilityHidden))</p>
            </div>
            <div class="gender">
                <h2>Gender</h2>
                <p>@Html.DisplayFor(item => curr.GenderFemale)/@Html.DisplayFor(item => curr.GenderMale)</p>
            </div>
        </div>
    </section>


    <section class="evolution">
        @if(prev != null && next != null) { 
        <h1>Evolutions</h1>
        <div class="three-evo">
            <!-- left evo -->
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@prev.PokemonId">
                        <img src="@Html.DisplayFor(item => prev.Image)">
                    </a>
                        <p><h1>@Html.DisplayFor(item => prev.Name)</h1>@Html.DisplayFor(item => prev.PokemonId)</p>
                    
                    <div class="type">
                        <p class="c@(Html.DisplayFor(item => prev.Type1))">@Html.DisplayFor(item => prev.Type1)</p>
                        @if (prev.Type2 != "Null")
                        {
                            <p class="c@(Html.DisplayFor(item => prev.Type2))">@Html.DisplayFor(item => prev.Type2)</p>
                        }
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>

            <!-- Middle evo -->
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@curr.PokemonId">
                        <img src="@Html.DisplayFor(item => curr.Image)">
                    </a>
                        <p><h1>@Html.DisplayFor(item => curr.Name)</h1>@Html.DisplayFor(item => curr.PokemonId)</p>
                    
                    <div class="type">
                        <p class="c@(Html.DisplayFor(item => curr.Type1))">@Html.DisplayFor(item => curr.Type1)</p>
                        @if (curr.Type2 != "Null")
                        {
                            <p class="c@(Html.DisplayFor(item => curr.Type2))">@Html.DisplayFor(item => curr.Type2)</p>
                        }
                    </div>
                </div>
            </div>

            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>

            <!-- Right evo -->
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@next.PokemonId">
                        <img src="@Html.DisplayFor(item => next.Image)">
                    </a>
                        <p><h1>@Html.DisplayFor(item => next.Name)</h1>@Html.DisplayFor(item => next.PokemonId)</p>
                    
                    <div class="type">
                        <p class="c@(Html.DisplayFor(item => next.Type1))">@Html.DisplayFor(item => next.Type1)</p>
                        @if (next.Type2 != "Null")
                        {
                            <p class="c@(Html.DisplayFor(item => next.Type2))">@Html.DisplayFor(item => next.Type2)</p>
                        }
                    </div>
                </div>
            </div>

        </div>
        } else {
        <div class="two-evo">
            <!-- left evo -->
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@if (prev == null) { @curr.PokemonId; } else { @prev.PokemonId;}">
                        <img src="@if (prev == null) { @Html.DisplayFor(item => curr.Image); } else { @Html.DisplayFor(item => prev.Image); }">
                    </a>
                        <p><h1>@if (prev == null)
                        { @Html.DisplayFor(item => curr.Name);
                        }
                        else
                        { @Html.DisplayFor(item => prev.Name);
                        }</h1>@if (prev == null)
                        { @Html.DisplayFor(item => curr.PokemonId);
                        }
                        else
                        {@Html.DisplayFor(item => prev.PokemonId);
                        }</p>
                    
                    <div class="type">
                        @if (prev == null)
                        {
                            <p class="c@(Html.DisplayFor(item => curr.Type1))">@Html.DisplayFor(item => curr.Type1)</p>
                            @if (curr.Type2 != "Null")
                            {
                                <p class="c@(Html.DisplayFor(item => curr.Type2))">@Html.DisplayFor(item => curr.Type2)</p>
                            }
                        }
                        else
                        {
                            <p class="c@(Html.DisplayFor(item => prev.Type1))">@Html.DisplayFor(item => prev.Type1)</p>
                            @if (prev.Type2 != "Null")
                            {
                                <p class="c@(Html.DisplayFor(item => prev.Type2))">@Html.DisplayFor(item => prev.Type2)</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>
            <!-- Right evo -->
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@if (next == null) { @curr.PokemonId; } else { @next.PokemonId; }">
                        <img src="@if (next == null) {@Html.DisplayFor(item => curr.Image); } else {@Html.DisplayFor(item => next.Image); }">
                    </a>
                        <p><h1>@if (next == null)
                        {@Html.DisplayFor(item => curr.Name);
                        }
                        else
                        {@Html.DisplayFor(item => next.Name);
                        }</h1>@if (next == null)
                        {@Html.DisplayFor(item => curr.PokemonId);
                        }
                        else
                        {@Html.DisplayFor(item => next.PokemonId);
                        }</p>
                    
                    <div class="type">
                        @if (next == null)
                        {
                            <p class="c@(Html.DisplayFor(item => curr.Type1))">@Html.DisplayFor(item => curr.Type1)</p>
                            @if (curr.Type2 != "Null")
                            {
                                <p class="c@(Html.DisplayFor(item => curr.Type2))">@Html.DisplayFor(item => curr.Type2)</p>
                            }
                        }
                        else
                        {
                            <p class="c@(Html.DisplayFor(item => next.Type1))">@Html.DisplayFor(item => next.Type1)</p>
                            @if (next.Type2 != "Null")
                            {
                                <p class="c@(Html.DisplayFor(item => next.Type2))">@Html.DisplayFor(item => next.Type2)</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        }

    </section>

    <footer>
        <p class="copy">© 2017 Pokémon. © 1995–2017 Nintendo/Creatures Inc./GAME FREAK inc. Pokémon, Pokémon character names, Nintendo 3DS, Nintendo DS, Wii, Wii U, and Wiiware are trademarks of Nintendo. The YouTube logo is a trademark of Google Inc. Other trademarks are the property of their respective owners.</p>
        <p>Software Engineering Project - Adrien Rawsthorne, Georgina Bailey, Louis Callaway and Pat Hanscombe </p>
    </footer>
</body>
</html>