@model IEnumerable<SEPPokemon.Models.Pokemon>

@{ 
    Pokemon prev = null;
    Pokemon curr = null;
    Pokemon next = null;
    int id = (int)ViewData["id"];
    foreach (Pokemon p in Model)
    {
        if (p.PokemonId == id - 1) { prev = p; }
        if (p.PokemonId == id ) { curr = p; }
        if (p.PokemonId == id + 1) { next = p; }
    }

    Pokemon[] family = new Pokemon[curr.EvolutionPathsTotal];
    int i = 0;
    if(family.Length < 4)
    {
        foreach(Pokemon p in Model)
        {
            if(p.EvolutionNo == curr.EvolutionNo)
            {
                family[i] = p;
                i++;
            }

        }


    }
            }

<html class="bg-other" lang="en">
<head>
 
    <title>Pokemon|Pokedex</title>
</head>
<body>
    @*Nav comes from _layout.cshtml*@
    @*<section class="navigation">
        <ul class="nav">
            <li class="navItem" id="logo">
                <a href="~/Pokedex">
                    <img src="~/img/pokemon-logo.png" alt="logo">
                </a>
            </li>
            <li class="navItem"><a href="~/Pokedex">Home</a></li>
            <li class="navItem"><a href="~/Pokedex/Pokedex">Pokedex</a></li>
            <li class="icon">
                <a href="javascript:void(0);" style="font-size:40px;" onclick="myFunction()">☰</a>
            </li>
        </ul>
    </section>*@

        <section class="info-main">
        <div class="content">
            <div class="current-pokemon">
                @if (prev != null)
            {
                    <a asp-action="info" asp-route-id="@prev.PokemonId">
                        <div id="poke1">
                            <div class="content">
                                <img src="@Html.DisplayFor(item => prev.Image)">
                                <p>@Html.DisplayFor(item => prev.PokemonId)</p>
                            </div>
                        </div>
                    </a>
                }
                @if (next != null)
        {
                    <a asp-action="info" asp-route-id="@next.PokemonId">
                        <div id="poke2">
                            <div class="content">
                                <img src="@Html.DisplayFor(item => next.Image)">
                                <p>@Html.DisplayFor(item => next.PokemonId)</p>
                            </div>
                        </div>
                    </a>
                }
                <h1>@Html.DisplayFor(item => curr.Name)</h1>
                <p>@Html.DisplayFor(item => curr.PokemonId)</p>
                <img src="@Html.DisplayFor(item => curr.Image)">

</div>

        </div>
    </section>


    <section class="info-middle">
        <div class="Description">
            <h2>Description</h2>
            <p>
                @Html.DisplayFor(item => curr.Description)
            </p>
        </div>
        <div class="type">
            <h2>Type</h2>
            <p class="c@(Html.DisplayFor(item => curr.Type1))">@Html.DisplayFor(item => curr.Type1)</p>
            @if (curr.Type2 != "Null")
    {
            <p class="c@(Html.DisplayFor(item => curr.Type2))">@Html.DisplayFor(item => curr.Type2)</p>
            }
        </div>
        <div class="poke-info-1">
            <div class="height">
                <h2>Height</h2>
                <p>@Html.DisplayFor(item => curr.Height)</p>
            </div>
            <div class="weight">
                <h2>Weight</h2>
                <p>@Html.DisplayFor(item => curr.Weight)</p>
            </div>
        </div>
        <div class="poke-info-2">
            <div class="abilities">
                <h2>Abilities</h2>
                <p>@Html.DisplayFor(item => curr.AbilityOne) / @Html.DisplayFor(item => curr.AbilityTwo) (@Html.DisplayFor(item => curr.AbilityHidden))</p>
            </div>
            <div class="gender">
                <h2>Gender</h2>
                <p>@Html.DisplayFor(item => curr.GenderFemale)/@Html.DisplayFor(item => curr.GenderMale)</p>
            </div>
        </div>
    </section>


    <section class="evolution">
        @if(family.Length == 3) {
            <h1>Evolutions</h1>
            <div class="three-evo">
                <!-- left evo -->
                <div id="evo">
                    <div class="content-evo">
                        <a asp-action="info" asp-route-id="@family[0].PokemonId">
                            <img src="@Html.DisplayFor(item => family[0].Image)">
                        </a>
                            <p><h1>@Html.DisplayFor(item => family[0].Name)</h1>@Html.DisplayFor(item => family[0].PokemonId)</p>


                        <div class="type">
                            <p class="c@(Html.DisplayFor(item => family[0].Type1))">@Html.DisplayFor(item => family[0].Type1)</p>
                            @if (family[0].Type2 != "Null")
                            {
                                <p class="c@(Html.DisplayFor(item => family[0].Type2))">@Html.DisplayFor(item => family[0].Type2)</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="arrow">
                    <div class="right-arrow">
                        <img src="~/img/arrowRight.png">
                    </div>
                    <div class="down-arrow">
                        <img src="~/img/arrowDown.png">
                    </div>
                </div>

                <!-- Middle evo -->
                <div id="evo">
                    <div class="content-evo">
                        <a asp-action="info" asp-route-id="@family[1].PokemonId">
                            <img src="@Html.DisplayFor(item => family[1].Image)">
                        </a>
                            <p><h1>@Html.DisplayFor(item => family[1].Name)</h1>@Html.DisplayFor(item => family[1].PokemonId)</p>


                        <div class="type">
                            <p class="c@(Html.DisplayFor(item => family[1].Type1))">@Html.DisplayFor(item => family[1].Type1)</p>
                            @if (family[1].Type2 != "Null")
                            {
                                <p class="c@(Html.DisplayFor(item => family[1].Type2))">@Html.DisplayFor(item => family[1].Type2)</p>
                            }
                        </div>
                    </div>
                </div>

                <div class="arrow">
                    <div class="right-arrow">
                        <img src="~/img/arrowRight.png">
                    </div>
                    <div class="down-arrow">
                        <img src="~/img/arrowDown.png">
                    </div>
                </div>

                <!-- Right evo -->
                <div id="evo">
                    <div class="content-evo">
                        <a asp-action="info" asp-route-id="@family[2].PokemonId">
                            <img src="@Html.DisplayFor(item => family[2].Image)">
                        </a>
                            <p><h1>@Html.DisplayFor(item => family[2].Name)</h1>@Html.DisplayFor(item => family[2].PokemonId)</p>


                        <div class="type">
                            <p class="c@(Html.DisplayFor(item => family[2].Type1))">@Html.DisplayFor(item => family[2].Type1)</p>
                            @if (family[2].Type2 != "Null")
                            {
                                <p class="c@(Html.DisplayFor(item => family[2].Type2))">@Html.DisplayFor(item => family[2].Type2)</p>
                            }
                        </div>
                    </div>
                </div>

            </div>
        } else if (family.Length == 2) {
        <div class="two-evo">
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@family[0].PokemonId">
                        <img src="@Html.DisplayFor(item => family[0].Image)">
                    </a>
                    <p><h1>@Html.DisplayFor(item => family[0].Name)</h1>@Html.DisplayFor(item => family[0].PokemonId)</p>


                    <div class="type">
                        <p class="c@(Html.DisplayFor(item => family[0].Type1))">@Html.DisplayFor(item => family[0].Type1)</p>
                        @if (family[0].Type2 != "Null")
                        {
                            <p class="c@(Html.DisplayFor(item => family[0].Type2))">@Html.DisplayFor(item => family[0].Type2)</p>
                        }
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>

            <!-- Middle evo -->
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@family[1].PokemonId">
                        <img src="@Html.DisplayFor(item => family[1].Image)">
                    </a>
                    <p><h1>@Html.DisplayFor(item => family[1].Name)</h1>@Html.DisplayFor(item => family[1].PokemonId)</p>


                    <div class="type">
                        <p class="c@(Html.DisplayFor(item => family[1].Type1))">@Html.DisplayFor(item => family[1].Type1)</p>
                        @if (family[1].Type2 != "Null")
                        {
                            <p class="c@(Html.DisplayFor(item => family[1].Type2))">@Html.DisplayFor(item => family[1].Type2)</p>
                        }
                    </div>
                </div>
            </div>

            <!-- left evo -->
            @*<div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@if (family[0] == null) { @family[1].PokemonId; } else { @family[0].PokemonId;}">
                        <img src="@if (family[0] == null) { @Html.DisplayFor(item => family[1].Image); } else { @Html.DisplayFor(item => family[0].Image); }">
                    </a>
                        <p><h1>@if (family[0] == null)
                        { @Html.DisplayFor(item => family[1].Name);
                        }
                        else
                        { @Html.DisplayFor(item => family[0].Name);
                        }</h1>@if (family[0] == null)
    { @Html.DisplayFor(item => family[1].PokemonId);
    }
                        else
                        {@Html.DisplayFor(item => family[0].PokemonId);
                        }</p>
                    
                    <div class="type">
                        @if (family[0] == null)
    {
                            <p class="c@(Html.DisplayFor(item => family[1].Type1))">@Html.DisplayFor(item => family[1].Type1)</p>
                            @if (family[1].Type2 != "Null")
    {
                                <p class="c@(Html.DisplayFor(item => family[1].Type2))">@Html.DisplayFor(item => family[1].Type2)</p>
                            }
                        }
                        else
                        {
                            <p class="c@(Html.DisplayFor(item => family[0].Type1))">@Html.DisplayFor(item => family[0].Type1)</p>
                            @if (family[0].Type2 != "Null")
    {
                                <p class="c@(Html.DisplayFor(item => family[0].Type2))">@Html.DisplayFor(item => family[0].Type2)</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="right-arrow">
                    <img src="~/img/arrowRight.png">
                </div>
                <div class="down-arrow">
                    <img src="~/img/arrowDown.png">
                </div>
            </div>
            <!-- Right evo -->
            <div id="evo">
                <div class="content-evo">
                    <a asp-action="info" asp-route-id="@if (family[2] == null) { @family[1].PokemonId; } else { @family[2].PokemonId; }">
                        <img src="@if (family[2] == null) {@Html.DisplayFor(item => family[1].Image); } else {@Html.DisplayFor(item => family[2].Image); }">
                    </a>
                        <p><h1>@if (family[2] == null)
                        {@Html.DisplayFor(item => family[1].Name);
                        }
                        else
                        {@Html.DisplayFor(item => family[2].Name);
                        }</h1>@if (family[2] == null)
    {@Html.DisplayFor(item => family[1].PokemonId);
    }
                        else
                        {@Html.DisplayFor(item => family[2].PokemonId);
                        }</p>
                    
                    <div class="type">
                        @if (family[2] == null)
    {
                            <p class="c@(Html.DisplayFor(item => family[1].Type1))">@Html.DisplayFor(item => family[1].Type1)</p>
                            @if (family[1].Type2 != "Null")
    {
                                <p class="c@(Html.DisplayFor(item => family[1].Type2))">@Html.DisplayFor(item => family[1].Type2)</p>
                            }
                        }
                        else
                        {
                            <p class="c@(Html.DisplayFor(item => family[2].Type1))">@Html.DisplayFor(item => family[2].Type1)</p>
                            @if (family[2].Type2 != "Null")
    {
                                <p class="c@(Html.DisplayFor(item => family[2].Type2))">@Html.DisplayFor(item => family[2].Type2)</p>
                            }
                        }
                    </div>
                </div>
            </div>*@
        </div>
        }

    </section>

    <footer>
        <p class="copy">© 2017 Pokémon. © 1995–2017 Nintendo/Creatures Inc./GAME FREAK inc. Pokémon, Pokémon character names, Nintendo 3DS, Nintendo DS, Wii, Wii U, and Wiiware are trademarks of Nintendo. The YouTube logo is a trademark of Google Inc. Other trademarks are the property of their respective owners.</p>
        <p>Software Engineering Project - Adrien Rawsthorne, Georgina Bailey, Louis Callaway and Pat Hanscombe </p>
    </footer>
</body>
</html>